<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmzlbNBbynN99RGCsdGpOh2rpSu5b4xOA</string>
	<key>GCM_SENDER_ID</key>
	<string>527607119267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialwall.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-12a0f</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-12a0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527607119267:ios:5c2b1e4d6fd2a09bf7ae16</string>
	<key>DATABASE_URL</key>
	<string>https://socialmedia-12a0f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>